body{
  background-color: #1F3752;
  background-image: url('../public/img/Fridgemerge.svg');
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 70%;
}
.logo-img-div{
  display: flex;
  justify-content: center;
  height: 600px;
  align-items: center;
}
.logo-img{
  margin: auto;
  display: block;
}

.Notes-List-Container {
  /* display: flex; */
  justify-content: center;
  /* height: 600px; */
  align-items: center;
}